*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #023e8a;
    --secondaryColor: #ffc300;
    --mainRedColor: #ff002b;
    --darkRedColor: #d00000;
    --mainGreenColor: #70e000;
    --darkGreenColor: #38b000;
    --mainBlueColor: #00b4d8;
    --darkBlueColor: #0096c7;
    --mainYellowColor: #ffea00;
    --darkYellowColor: #ffd000;
    --defaultColor: #ffffff;
    --darkColor: #000000;
    --headingFont: Lilita One;
    --primaryFont: Nunito;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url('images/background.jpg');
    background-size: cover;
    position: relative;
}

.imageSection{
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.buttons{
    text-align: center;
    border: none;
    border-radius: 5px;
    color: var(--darkColor);
    font-family: var(--primaryFont);
    font-size: 20px;
    background-color: var(--secondaryColor);
    font-weight: bold;
    box-shadow: none;
    
    &:hover{
        cursor: pointer;
    }
}

.headings{
    font-family: var(--headingFont);
}

header{
    width: 100%;
    height: auto;
    color: var(--defaultColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
    top: 0;
    
    #logoImage{
        width: 150px;
        display: flex;
        align-items: center;
        
        img{
            margin-right: 20px;
        }

        .headerLogo{
            font-size: 40px;
        }
    }
}

main{   
    color: var(--defaultColor);
    margin: 150px;
    width: fit-content;
    font-family: var(--primaryFont);

    #blackCover{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--darkColor);
        top: 0;
        left: 0;
        opacity: 90%;
        z-index: 1;
        display: none;
    }

    
    #newgameBtn{
        padding: 15px;
        width: 300px;
        margin-bottom: 30px;
        animation: playnowAnimation 3s linear infinite;
    }     

    #playerNoContainer{
        z-index: 2;
        position: absolute;
        width: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid var(--darkColor);
        border-radius: 10px;
        padding: 30px;
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color: var(--primaryColor);

        .radios{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 20px;

            input[type=radio]{
                cursor: pointer;
            }
        }

        #nextBtn{
            margin-left: 50px;
            opacity: 50%;
            cursor: not-allowed;
        }

        #nextBtn,
        #cancelBtn{
            width: 100px;
            padding: 5px 10px;
        }
    }
}

@keyframes playnowAnimation {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

